:root{
  margin: 0;
  padding: 0;
}

.body-background{
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: row;
  margin: 0;
  height: 100%;
  overflow: hidden;
}

/* CONTAINER INPUTS ///////////////////////////////////////////////////////////////////////////////////////////////////////*/
.container-input{
  background-color: white;
  width: 35%;
  height: 65%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 5rem;
}

.labellogin{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #46494c;
  font-size: 15px;
}

.logo{
  display: flex;
  justify-content: center;
  padding-bottom: 0px;
  height: 10%;
  align-items: center;
}

.inputs{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 80%;
  justify-content: center;
  align-items: center;
  padding-bottom: 50px;
}

.input-text{
  height: 40px;
  width: 180px;
  border-top: transparent;
  border-left: transparent;
  border-right: transparent;
  outline: none;
  transition: 1s;
}

.button-submit{
  background-color: #1d1f45;
  color: white;
  border-radius: 5px;
  border-color: transparent;
  height: 30px;
  width: 120px;
}

.button-submit:hover{
  background-color: #2f337a;
}

/* CONTAINER IMAGEM ///////////////////////////////////////////////////////////////////////////////////////////////////////*/
.container-image{
  width: 65%;
  height: 100%;
  
}
.footer{        
margin-top: 170px;
padding: 15px;
border-top: 0.1px solid #6c6c6c;
padding-left: 30px;

}

/*////////////////////////////////////////////////////////////////// */
  
* {
    margin: 0px; 
    padding: 0px; 
    box-sizing: border-box;
}

body, html {
    height: 100%;
    font-family: Poppins-Regular, sans-serif;
}

.container-login100 {
  width: 100%;  
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  z-index: 1;  
}

.container-login100::before {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  /* background-color: rgba(255,255,255,0.9); */
}

.wrap-login100 {
  width: 400px;
  border-radius: 5px;
  overflow: hidden;
  padding: 10px 10px 10px 10px;
  /* padding: 55px 55px 37px 55px; */
  margin-top: 0;
  background: #ffffff;
  opacity: 95%;
  box-shadow: 1px 1px 10px #46494c;
}

/*------------------------------------------------------------------
[ Responsive ]*/

@media (max-width: 576px) {
  .wrap-login100 {
    padding: 55px 15px 37px 15px;
  }
}
